@tailwind base;
@tailwind components;
@tailwind utilities;
.active{
    color: red !important;
    
}
.borderdiv{
    border-right-width: 1px;
    border-right-style: solid;    
    border-right-color: #d5d2d2;
    border-left-width: 1px;
    border-left-style: solid;    
    border-left-color: #d5d2d2;
    border-bottom-width: 1px;
    border-bottom-style: solid;    
    border-bottom-color: #d5d2d2;
}